body{
font-family:Arial;
padding:15px;
text-align:center;
}

.market-box{
border:1px solid gray;
padding:15px;
margin:20px;
border-radius:10px;
}

.digits{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
margin:20px;
}

.digit{
border:2px solid gray;
padding:20px;
border-radius:50%;
}

input{
width:90%;
padding:15px;
margin:20px;
}

.buttons{
display:flex;
gap:10px;
}

button{
flex:1;
padding:20px;
font-size:18px;
}

.buy{
background:green;
color:white;
}

.sell{
background:red;
color:white;
}
